*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    margin:auto;
    width:400px;
    padding:20px;
    margin-top: 20px;
    margin-top: 20px;
   background-color:burlywood ;
   border: 2px solid purple;
}
input,select,textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid green;
   
}
.space{
    margin-bottom: 20px;
}
input[type="submit"]{
    background-color:white;
    color: blue;
    display: block;
    margin: auto;
    padding: 5px 20px;
}
input[type="checkbox"],input[type="radio"]{
    width: auto;

}