*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:blanchedalmond;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: blanchedalmond;
    padding:10px 20px;
}
.img{
    width: 50px;
    height: 50px;
}
ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    gap: 15px;
}
header{
    display:flex;
    align-items: center;    
    justify-content: flex-end;
    padding: 20px;
    background-image: url(./shop.jpg);
    height: 40vh;
    background-size: cover;
    background-position: center;
    }

main .container1{
    display: flex;
     align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: blanchedalmond;
    margin-bottom: 20px;
     width: 100%;
    padding: 20px;
    text-align: center;
    
}
main.container1 .box{
    border: 2px solid black;
}
main .container1 .box img{
    width: 200px;
    height: 300px;
}
footer{
    margin-top: 1px;
   display: flex;
   justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: blanchedalmond;
}