body{
    background-color:cornflowerblue;
    color:white;
}
.img1
{
    width: 300px;
    height:auto;
}
.img2{
    width: 265px;
    height: auto;
}
.img3{
    width: 400px;
    height:auto;
}
h3
{
 text-align: center;
 font-size:xx-large;
}